@tailwind base;
@tailwind components;
@tailwind utilities;

.paginated-table-container {
  @apply grid grid-cols-1 place-items-center w-full h-full lg:p-20 bg-white dark:bg-black;
}

.paginated-table-container .paginated-table {
  @apply table-fixed border-collapse border border-blue-500 max-w-4xl w-full space-y-6;
}

.paginated-table .header {
  @apply text-xs text-stone-600;
}

.paginated-table tr {
  @apply bg-black;
}

/* .paginated-table tr:hover {
  @apply bg-blue-500;
} */

.paginated-table tr:not(:only-child):hover {
  @apply bg-blue-500/[.2] text-yellow-500;;
}

/* .paginated-table tr:not(:only-child):hover td:not(2) {
  @apply text-yellow-500;
} */

/* tr:not(:only-child):hover td:not(2)  */

.paginated-table th {
  @apply text-xs text-left p-4 whitespace-nowrap border border-blue-500;
}

.paginated-table th:first-child {
  @apply rounded-l-lg;
}

.paginated-table th:last-child {
  @apply rounded-r-lg;
}

.paginated-table .body {
  @apply divide-y divide-blue-500 text-xs text-stone-600;
}

.paginated-table td {
  /* position: relative; */
  /* display: block; */
  /* text-align: center; */

  @apply relative text-xs text-left !p-2 transition-all duration-50 ease-in-out whitespace-nowrap border border-blue-500;
}

.paginated-table td:first-child {
  @apply rounded-l-lg;
}

.paginated-table td:last-child {
  @apply rounded-r-lg;
}

.paginated-table img {
  @apply relative rounded-full h-12 w-12 object-cover border border-blue-500;
}

.paginated-table .image-mask {
  /* position: absolute;
  top: 8px;
  left: 8px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
  mix-blend-mode: overlay; */

  /* background: #000; */

  /* background-position: "50px 0"; */
  background-repeat: no-repeat;
  /* -webkit-mask: url("http://dev.iamvdo.me/newLogoCSS3create2.png") center;
  mask: url("#mask-firefox"); */

  @apply absolute top-2 left-2 h-12 w-12 rounded-full border border-blue-500;
}

.paginated-table .image-mask:hover {
  /* background: #000 !important; */
  transform: rotateY(30deg);
  transition: all;
  transition-duration: 500ms;
}
